body{
    text-align: center;
}

.parent{
    width: 80%;
    height: 80vh;
    margin-top: 30px;
    margin-left: 10%;
    background-image: linear-gradient(lightcyan, lightpink);
}

.child{
    height: 120px;
    width: 120px;
    text-align: center;
}

.child p{
    padding-top: 55px;
}

.child:nth-child(1){
    background-color: rgb(153, 144, 235);
}

.child:nth-child(2){
    background-color: rgb(136, 218, 136);
}

.child:nth-child(3){
    background-color: rgb(235, 176, 149);
}